.fa-location-dot {
    font-size: 1.2rem;
    color: #000;
}
.pin-location {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
}
.modal-header {
    background-color: #00aea7;
    color: #fff;
    border: #00aea7;
}
.btn-one {
    background-color: #ff7d08;
    color: #fff;
    border: #ff7d08;
}
.btn-one:hover {
    background-color: #e66b00;
    color: white;
}
.btn-two {
    background-color: #00aea7;
    color: #fff;
    border: #00aea7;
}
.btn-two:hover {
    background-color: #009994;
    color: white;
}
.PhoneInputInput {
    border: none;
}
.search {
    position: relative;
}
.combobox {
    position: absolute;
    z-index: 100;
}
.merchantInput {
    color: black;
}
.merchantInput span {
    color: gray;
}
.merchantSearch {
    position: relative;
    z-index: 9999;
    background: #fff;
}

.nav-link-item {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.nav-link-item a:hover {
    background-color: #ff7d08;
}

.nav-link-item a {
    color: #000;
    text-decoration: none;
}

.active {
    background-color: #ff7d08 !important;
}
.bg-orange {
    background-color: #ff7d08;
}
.bg-green {
    background-color: #00aea7;
}
.bg-green-two {
    background-color: #029da2;
}
.bg-gray {
    background-color: #e0e0e0;
}
/*Authtentication*/
.div-input {
    position: relative;
    border-bottom: 2px solid #adadad;
}
.div-input input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 30px;
    color: #000;
}
.custom-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    border-bottom: 2px solid #adadad;
}
.custom-input-tel input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    border-bottom: 2px solid #adadad;
}
.custom-input-tel input:focus {
    border-bottom: 2px solid #00aea7;
}
.custom-input:focus {
    border-bottom: 2px solid #00aea7;
}
.div-input label {
    position: absolute;
    top: 50%;
    left: 0px;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}
.div-input span::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #00aea7;
    transition: 0.5s;
}
.div-input input:focus ~ label,
.div-input input:valid ~ label {
    top: -5px;
    color: #adadad;
}

.div-input input:focus ~ span::before {
    width: 100%;
}

.input-image[type="file"]::-webkit-file-upload-button {
    background-color: #00aea7;
    color: #fff;
    cursor: pointer;
    border: none;
}
.input-image[type="file"]::-webkit-file-upload-button:hover {
    background-color: #009994;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
