body {
    background-color: #ededed;
}

.fa-location-dot {
    font-size: 1.2rem;
    color: #000;
}

.pin-location {
    background-color: gray;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.btn-one {
    background-color: #ff7d08;
    color: #fff;
    border: #ff7d08;
}

.btn-one:hover {
    background-color: #e66b00;
    color: white;
}

.btn-two {
    background-color: #00aea7;
    color: #fff;
    border: #00aea7;
}

.btn-two:hover {
    background-color: #009994;
    color: white;
}

.PhoneInputInput {
    border: none;
}

.search {
    position: relative;
}

.combobox {
    position: absolute;
    z-index: 100;
}

.merchantInput {
    color: black;
}

.merchantInput span {
    color: gray;
}

.merchantSearch {
    position: relative;
    z-index: 9999;
    background: #fff;
}

.nav-link-item {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.nav-link-item a:hover {
    background-color: #ff7d08;
}

.nav-link-item a {
    color: #000;
    text-decoration: none;
}

.active {
    background-color: #ff7d08 !important;
}

.bg-orange {
    background-color: #ff7d08;
}

.bg-green {
    background-color: #00aea7;
}

.bg-green-two {
    background-color: #029da2;
}

.bg-purple {
    background-color: #4a0057;
}

.bg-purple-two {
    background-color: #35013f;
}

.bg-gray {
    background-color: #e0e0e0;
}

/*Authtentication*/
.div-input {
    position: relative;
    border-bottom: 2px solid #adadad;
}

.div-input input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    height: 30px;
    color: #000;
}

.custom-input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
    border-bottom: 2px solid #adadad;
}

.custom-input-tel input {
    border: none;
    outline: none;
    background: none;
    width: 100%;
}

.div-input label {
    position: absolute;
    top: 50%;
    left: 0px;
    color: #adadad;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.5s;
}

.div-input span::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 0%;
    height: 1px;
    background: #00aea7;
    transition: 0.5s;
}

.div-input input:focus~label,
.div-input input:valid~label {
    top: -5px;
    color: #adadad;
}

.div-input input:focus~span::before {
    width: 100%;
}

.input-image[type="file"]::-webkit-file-upload-button {
    background-color: #00aea7;
    color: #fff;
    cursor: pointer;
    border: none;
}

.input-image[type="file"]::-webkit-file-upload-button:hover {
    background-color: #009994;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*TIMELINE*/
ul,
li {
    list-style: none;
    padding: 0;
}

.timeline-item {
    border-left: 2px solid #000;
    position: relative;
    padding-left: 20px;
    margin-left: 10px;
}

.timeline-item::before {
    content: '';
    width: 15px;
    height: 15px;
    background: rgb(123, 121, 121);
    border-radius: 50%;
    position: absolute;
    left: -9px;
    top: 0px;
}

.timeline-item:last-child::before {
    background: #fff;
}

/*Search Clients*/
.search-input {
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
}

.autocom-box {
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
}

.combobox {
    position: absolute;
    z-index: 100;
}

.suggestion-item {
    padding: 0 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #d5d5d5;
}

/*Invoice */
.bg-invoice {
    position: relative;
    background: linear-gradient(136deg, #4c4c4c, #000);
}

.bg-resume {
    position: relative;
    background: linear-gradient(136deg, #04acb4, #000);
}

.custom-shape {
    position: absolute;
    padding: 0;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape .shape-fill {
    fill: #ffffff;
}

.custom-shape-divider-top-1652277184 {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1652277184 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1652277184 .shape-fill {
    fill: #FFFFFF;
}